.about-us{
    &__inner{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 120px 100px 53px 100px ;
        gap: 33px;
        background: var(--color-light);

        @include mobile{
            padding: 64px 8px 64px 8px;
            gap: 16px;
            margin: 0px 8px 0px 8px;
            flex-direction: column;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
    &__text{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        width: 900px;
        height: 263px;

        @include mobile{
            width: 358px;
            height: 372px;
        }

        &-title{
            width: 900px;
            height: 65px;
            font-weight: 800;
            font-size: 48px;
            line-height: 65px;

            color: var(--color-dark);

            @include mobile{
                width: 358px;
                height: 44px;
                font-weight: 800;
                font-size: 32px;
                line-height: 44px;

            }

        }

        &-description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 900px;
            height: 182px;
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;

            color: var(--color-dark-description);

            @include mobile{
                display: none;
            }

        }

        &-description-mobile{
            display: none;

            @include mobile{
                display: block;
                color: var(--color-dark-description);
                width: 358px;
                height: 312px;
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
            }

        }

    }

    &__reason{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        width: 900px;
        height: 440px;

        @include mobile{
            width: 358px;
            height: 1039px;
            gap: 24px;
        }

        &-title{
            width: 262px;
            height: 25px;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: var(--color-dark);
            margin-bottom: 8px;

            @include mobile{
                display:none;
            }
        }

        &-title-mobile{
            display:none;

            @include mobile{
                display:block;
                width: 358px;
                height: 25px;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                color: var(--color-dark);
                margin-bottom: 8px;
            }

        }

        &-description{
            width: 515px;
            height: 19px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: var(--color-dark-description);

            @include mobile{
                width: 358px;
                height: 38px;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
            }

        }

        &-grid{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;
            padding: 0px;
            gap: 28px 20px;

            width: 900px;
            height: 356px;

            @include mobile{
                display: none;
            }

        }

        &-grid-mobile{
            display: none;

            @include mobile{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

                width: 358px;
                height: auto;
                margin-bottom: 32px;
            }

        }
    }

    &__cell{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 284px;

        @include mobile{
                width: 358px;
                height: auto;
            }

        &-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;

            background: var(--color-grey);
            border-radius: 12px;

        }

        &-title{
            width: 284px;
            height: 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: var(--color-dark);

        }
        
        &-text{
            width: 284px;
            height: 60px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;

            color: var(--color-dark-description);

            @include mobile{
                width: 358px;
            }


        }

    }

    &__image{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 65px;
        position: relative;

        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 358px;
            height: 475px;
            margin-top: 72px;
            padding-top: 0px;
            border-radius: 0px 0px 16px 16px;
            overflow: hidden;
        }

        &-logo{
            position: relative;
            z-index: 2;

            @include mobile{
                width: 357.72px;
                height: 383px;
                left: 0px;
                top: 0px;
            }
        }
        &-info{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 16px;
            gap: 12px;
            isolation: isolate;

            width: 467px;
            height: 98px;

            background: rgba(15, 154, 239, 0.2);
            border-radius: 0px 0px 16px 16px;

            @include mobile{
                padding: 16px 12px;
                gap: 12px;
                width: 358px;
                height: 92px;
            }

        }

        &-text{
            width: 309px;
            height: 66px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: var(--color-dark-description);

            @include mobile{
                width: 309px;
                height: 60px;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.01em;
            }
        }

        &-promotion{
            bottom: 45px;
            position: absolute;
            z-index: 1;
            top: -27px;
            right: 0px;
            width:143px;
            height:143px;

            @include mobile{
                width:93px;
                height:93px;
                left: 287px;
                top: 17px;
            }
        }
    }



}