.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 10px;

    width: 223px;
    height: 65px;

    background: var(--color-accent);
    border-radius: 16px;
    border: none;
    font-weight: 400;
    font-size: 18px;

    color: var(--color-light);


    @include hover {
        background-color: var(--color-accent-alt);
    }

    @include mobile{
        width: 358px;
    }

    &--transparent {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 16px;
        gap: 10px;
        width: 142px;
        height: 38px;

        background: var(--color-dark-alt);
        border-radius: 12px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: var(--color-light);
        @include hover {
            background-color: var(--color-accent);
        }
    }
}
