.cross-button{
    @include reset-button;
    @include square(38px);

    position: relative;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background: var(--color-accent);

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 4px;
        width: 80%;
        height: 2px;
        background-color: var(--color-light);
        border-radius: 5px;
    }

    &::before{
        rotate: 45deg;
    }

    &::after{
        rotate: -45deg;
    }
}