.footer {
    position: relative;
    &__inner {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 100px 0px;
        width: 100%;
        min-height: 100%;
        margin-top: 65.5px;
        bottom: -97px;
        left: 0px;
        right: 0px;
        background: var(--color-light);
        border-radius: 60px 60px 0px 0px;

        @include mobile{
            height: 428px;
            padding: 32px 16px;
            gap: 32px;
            bottom: -340px;

        }
    }

    &__header-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px 8px;
        gap: 32px;
        isolation: isolate;
        width: 1400px;
        height: 86px;

        @include mobile{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            gap: 132px;

            width: 358px;
            height: 78px;
        }
    }

    &__additionally {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 18px;
        gap: 32px;
        width: 1400px;
        height: 59px;
        border-top: 1px solid var(--color-border-light);
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: var(--color-text-muted);

        @include mobile{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 0px 0px;
            gap: 16px;

            width: 358px;
            height: 34px;
        }
    }

    &__contact{
        @include mobile{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            gap: 16px;
            width: 148px;
            height: 28px;
        }
    }

    &__menu-mobile{
        display: none;

        @include mobile{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 12px;

            width: 358px;
            height: 196px;
        }
    }

    &__menu-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 12px;

        width: 358px;
        height: 196px;
    }

    &__menu-link{
        border-right: none;
        border-bottom: 1px solid var(--color-divider);
        padding: 12px 0px;
        width: 358px;
        justify-content: center;
        align-items: center;
    }

    &__inst{
        display:none;

        @include mobile{
            display: block;
        }
    }
}
