.popular-cars {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px;
        gap: 120px;
        background: var(--color-light);
        border-radius: 60px 60px 0px 0px;

        @include mobile{
            padding: 16px 8px 24px 8px;
            gap: 40px;
            border-radius: 24px 24px 0px 0px;
            margin: 0px 8px 0px 8px;
            height: 100%;
            scrollbar-width: none;
        }
    }

    &__title {
        width: auto;
        height: 65px;
        margin-bottom: 40px;
        font-weight: 800;
        font-size: 48px;
        line-height: 65px;
        color: var(--color-dark);

        @include mobile{
            width: 358px;
            height: 88px;
            font-weight: 800;
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 24px;

        }
    }

    &__brands {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        width: 464px;
        height: 52px;
        margin-bottom: 28px;

        @include mobile {
            width: 358px;
            height: 40px;
        }
    }

    &__brand {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 6px;
        gap: 8px;
        width: auto;
        height: 52px;
        background: var(--color-grey);
        border-radius: 16px;

        &-name {
            font-weight: 600;
            font-size: 13px;
            line-height: 28px;
            color: var(--color-dark);

            @include mobile{
                display: none;
            }
        }

        &-image {
            width: 30px;
            height: 24px;
        }

        &-zeekr{
            display:block;

            @include mobile{
                display: none;
            }
        }
        
        &-zeekr-abb{
            display:none;

            @include mobile{
                display: block;
            }
        }

        @include mobile{
            padding: 8px 16px;
        }
    }

    &__country {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 85px;
        height: 52px;
        background: var(--color-light);
        border: 1px solid var(--color-border-grey);
        border-radius: 12px;

        &-knr{
            width: 64.45px;
            height: 45.7px;

            @include mobile{
                width: 45px;
                height: 35px;
            }
        }

        &-chn{
            width: 80px;
            height: 52px;

            @include mobile{
                width: 60px;
                height: 40px;
            }
        }

        &-eur{
            width: 80px;
            height: 52px;

            @include mobile{
                width: 60px;
                height: 40px;
            }
        }


        @include mobile{
            width: 60px;
            height: 40px;
            padding: 7px 0px 7px 0px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        padding: 0px;
        gap: 30px 16px;
        width: auto;
        height: 706px;

        @include mobile{
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            width: 358px;
            height: 338px;
            scrollbar-width: none;
        }
    }

    &__card{
        @include mobile{
            flex: 0 0 auto;
            min-width: 338px;
            scroll-snap-align: start;
        }

        @include desktop{
            flex: 0 0 auto;
            scroll-snap-align: start;
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        @include mobile{
            align-items: flex-start;
        }
    }
}
