.stages {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 100px 88px 120px;
    gap: 80px;
    background: var(--color-light);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }

  &__delivery {
    display: flex;
    gap: 83px;
  }

  &__text {
    &-title {
      width: 1400px;
      height: 65px;
      font-weight: 800;
      font-size: 48px;
      line-height: 65px;
      color: var(--color-dark);
    }

    &-description {
      width: 498px;
      height: 28px;
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      color: var(--color-dark-description);
    }
  }

  &__steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 1400px;
    height: 156px;
  }

  &__step {
    position: relative;

    &-number {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 24px 32px;
      width: 76px;
      height: 77px;
      bottom: 57px;
      background: var(--color-dark-alt);
      border-radius: 16px 16px 0 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-light);
    }

    &-text {
      position: relative;
      z-index: 2;
      top: 21px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      width: 338px;
      height: 113px;
      background: var(--color-grey);
      border-radius: 16px 16px 0px 0px;
    }

    &-title {
      width: 298px;
      height: 25px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: var(--color-dark);
    }

    &-description {
      width: 298px;
      height: 40px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--color-dark);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 24px;
    gap: 24px;
    width: 513px;
    height: 479px;
    background: var(--color-grey);
    border-radius: 20px  20px 0px 0px;

    &-title {
      width: 465px;
      height: 33px;
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
      color: var(--color-dark);
    }

    &-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 465px;
      height: 120px;
    }

    &-description {
      width: 465px;
      height: 38px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: var(--color-dark-description);
    }

    &-price {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      width: 465px;
      height: 52px;
    }

    &-info {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px 8px 16px 16px;
      gap: 4px;
      width: 465px;
      height: 104px;
      background: var(--color-info-blue-20);
      border-radius: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: var(--color-dark);
    }
  }

  &__button {
    width: 168px;
    height: 52px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-light);
  }

  &__price {
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: var(--color-dark-description);
    }

    &-number {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: var(--color-dark);
    }
  }

  &__image {
    position: relative;

    &-block {
      position: absolute;
      left: 422px;
      right: 0;
      top: 5px;
    }

    &-car {
      position: relative;
      left: 11px;
      top: 67px;
    }
  }

  
  &__input {
    display: block;
    width: 100%;
    padding: 16px;
    padding-right: 40px;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-text-grey);
    background-color: var(--color-light);
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
}
