:root{
    --color-dark: #1F1F1F;
    --color-light: #FFFFFF;
    --color-accent: #D91033;
    --color-grey: #F8F8F8;
    --color-dark-alt: #2E2E2E;
    --color-accent-alt: #CC1033;
    --color-dark-description: #333333; 
    --color-dark-background: #0B0B0B;
    --color-dark-deep: #222222;
    --color-light-90: rgba(255, 255, 255, 0.9);
    --color-light-60: rgba(255, 255, 255, 0.6);
    --color-light-10: rgba(255, 255, 255, 0.1);
    --color-light-grey-overlay: rgba(191, 191, 198, 0.1);
    --color-grey-border: #7A7A7A;
    --color-border-light: #EBEBEB;
    --color-text-muted: #555252;
    --color-divider: #D8D8D8;
    --color-border-grey: #E7EBEC;
    --color-icon-muted: #D5D5D5;
    --color-info-blue-20: rgba(15, 154, 239, 0.2);
    --color-text-grey: #757575;
    --color-link-blue: #007DE3;
    --color-grey-close: #B4B4B4;






    --border-radius: 12px;
    --border-radius-small:16px;
    --border-radius-large: 20px;

    --font-family-base: 'Open Sans', sans-serif;

    --container-width: 1600px;
    --container-padding-x: 16px;

    --section-padding-y: 60px;

    --input-height: 54px;

    --button-height: 52px;

    --transition-duration: 0.2ms;
}